body {
  margin: 8;
  padding: 0;
  font-family: sans-serif;
}

/* button {
  background-color: gray;
  color: white;
  font-weight:bold;
  border-radius: 5px;
  padding: 8px;
  border: 0px;
} */


.usd-currency::before {
  content: '$';
}

.eur-currency::before {
  content: '€';
}

.inr-currency::before {
  content: '₹';
}

.tool-link {
  font-size:10px;
  font-weight:normal;
  padding-left:5px;
  color:blue;
  text-decoration:none;
  cursor:pointer;
}

.tool-form input {
  vertical-align:top;
}

input + .tool-link {
  padding-left:5px;
  line-height:32px;
}

.form-row label {
  display:inline-block;
  width:80px;
  margin-bottom:10px;
}

.del-button {
  background-color:white;
  color:red;
  font-weight:bold;
  border: 0px;
  vertical-align:middle;
  line-height:16px;
  font-size:12px;
  font-family:monospace;
  cursor: pointer;
  outline:none;
}